<div class="container mt-4 mb-4">

  <div class="row">
    <div class="col-md-9">
      <main>

        <section>
          <h3 class="mb-4">Публикации</h3>

          <fw-skeleton [fwLoading]="loadingPosts" [fwRows]="5" [fwSection]="6">

            <fw-card @fadeAnimation class="mb-4" *ngFor="let post of posts"
                     fwFooter="{{post?.created_at}}"
                     fwHeader="{{post?.title}}">
              <fw-card-body>
                <fw-card-title>
                  <a [routerLink]="['/post/'+post?.id]">
                    <h5>{{post?.title}}</h5>
                  </a>
                </fw-card-title>
                <fw-card-text>
                  {{post?.text}}
                </fw-card-text>
              </fw-card-body>
            </fw-card>

            <div class="mt-5 text-center">
              <fw-pagination [fwTotal]="totalPosts" [fwCurrentPage]="currentPage" (fwCurrentPageChange)="onClickPage($event)"></fw-pagination>
            </div>

          </fw-skeleton>
        </section>

      </main>
    </div>
    <div class="col-md-3">
      <aside>
        <section class="tags">
          <h3 class="mb-4">Теги</h3>
          <fw-skeleton [fwLoading]="loadingTags" [fwRows]="10">
            <div>
              <span class="item" [routerLink]="['/posts']" (click)="onClickTag()">Все</span>
              <span class="item" [routerLink]="['/posts']" [queryParams]="{ tag_id: tag?.id }" (click)="onClickTag()" *ngFor="let tag of tags">{{tag?.title}}</span>
            </div>
          </fw-skeleton>
        </section>
      </aside>
    </div>

  </div>
</div>
